html {
    text-align: center;
    color: #151229;
    height: 100%;
    background-image: linear-gradient(to bottom, lightblue, paleturquoise, darkseagreen);
    cursor: default;
}

button {
    border: 1px solid mediumslateblue;
    border-radius: 10px;
    margin: 2px;
    color: #151229;
    background-color: white;
    padding: 5px;
}

button:hover {
    background-color: mediumslateblue;
    color: white;
    cursor: pointer;
}

.App__headerText {
    font-size: 2.25em;
    padding: 10px;
    text-align: center;
    color: mediumslateblue;
    font-weight: bold;
    font-family: 'Averia Gruesa Libre';
}

.VillagerView__villagerButtonName, .VillagerView__currentVillagerName, .ItemList__header, .VillagerView__searchbarLabel, .VillagerView__category {
    font-family: 'Averia Gruesa Libre';
}

.VillagerView__category {
    border-radius: 5px;
    font-size: 1.2em;
}

.VillagerView__villagerSelection {
    margin: 0 10px;
}

.VillagerView__villagerSelectionContainer {
    display: flex;
    justify-content: center;
}

.VillagerView__villagerList {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.VillagerView__villagerButton--active, .VillagerView__category--active {
    background-color: mediumslateblue;
    color: white;
    cursor: default;
}

.VillagerView__villagerButtonImage {
    width: 70px;
    height: 70px;
    padding: 1px;
}

.VillagerView__villagerButtonName {
    font-weight: bold;
}

.VillagerView__currentVillagerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.VillagerView__currentVillager {
    height: 50%;
}

.VillagerView__currentVillagerName {
    font-weight: bold;
    font-size: 1.5em;
}

.VillagerView__itemList {
    display: flex;
    justify-content: center;
}

.VillagerView__universal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.VillagerView__universalButton {
    height: 100%;
}

.VillagerView__searchbar {
    text-align: left;
    padding-top: 25px;
    width: 90%;
}

.VillagerView__searchbarLabel {
    font-weight: bold;
    font-size: 1.25em;
    padding: 5px;
}

.VillagerView__searchbarInput {
    width: 90%;
}

.VillagerView__universalButton > .VillagerView__villagerButtonName {
    font-size: 1.2em;
}

.ItemList {
    padding: 15px;
    width: 20%;
}

.ItemList__itemsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 55vh;
    overflow-y: auto;
}

.ItemList__item {
    padding: 6px;
    border: 1px solid rgb(194, 88, 185);
    border-radius: 10px;
    margin: 2px;
    background-color: rgba(241, 161, 215, 0.5);
    ;
}

.ItemList__item:hover {
    background-color: rgb(194, 88, 185);
    color: white;
}

.universal {
    border: 1px solid mediumslateblue;
    background-color: rgba(221, 217, 243, 50%);

}

.universal:hover {
    background-color: mediumslateblue;
    color:white;
}